/* body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://img.freepik.com/premium-photo/grunge-texture-dark-wallpaper_1258-14137.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

* {
    margin: 0;
    padding: 0;
}